*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}

.bg_img{
    width: 100%;
    height: 100vh;
    background-image: url(../img/sky.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: blur(13px);
}

.loadingSign{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);

    font-size: 300%;
}